button {
  height: 2.375rem;

  padding: 0 1rem;

  cursor: pointer;

  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--color-brand-200);
  border-color: var(--color-brand-200);
}

.primary {
  height: 48px;
  width: 100%;

  font-size: 16px;
  font-weight: 500;

  color: var(--color-grey-700);
  background-color: var(--color-brand-100);
}