main {
  height: 100vh;
  width: 100%;
  display: flex;

  background-image: url(../../assets/images/backgroundHorizontal2.jpg);
  background-repeat: round;
}

.primary_section,
.secondary_section {
  display: flex;
  padding: 6rem 0;
}

.primary_section {
  width: 45%;

  flex-direction: column;
  gap: 1rem;

  background-color: var(--color-grey-700);
}

.primary_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.signUp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondary_section {
  width: 100%;
}

.secondary_container {
  padding: 2rem;
}