.home {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../assets/images/backgroundHorizontal2.jpg);
    background-size: cover;
    /* background-color: var(--color-brand-300); */
}

.home_presentation {
    height: 80%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--color-brand-100);
}

.logo {
    height: 4rem;
}

.locations {
    height: 100vh;
}