.home {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../assets/images/backgroundHorizontal2.jpg);
    background-size: cover;
    /* background-color: var(--color-brand-300); */
}

.home_presentation {
    height: 80%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--color-brand-100);
}

.logo {
    height: 4rem;
}

.popular_destinations {
    height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 4rem 0;
    gap: 3rem;
}

.section_description {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.title {
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text_decoration {
    width: calc(100% - 32px);
    height: 2px;
    display: flex;
    border-radius: 1rem;
    background-color: var(--color-brand-100);
}

.card_list {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 1rem;
    overflow-x: auto;
}

.card {
    height: 300px;
    width: 230px;

    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    padding: 1rem;

    border-radius: 1rem;

    color: var(--color-grey-700);
    text-shadow: 2px 2px 4px #000000;
    background-repeat: round;
    background-image: url("../../assets/images/destinations/paris.jpg");
}

.card_location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card_location img {
    height: 20px;
    width: 20px;
}