main {
  height: 100vh;
  width: 100%;
  display: flex;

  background-image: url(../assets/images/backgroundHorizontal.png);
}

section {
  height: 100%;

  display: flex;
  align-items: center;
}

.primary_section {
  width: 45%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  background-color: var(--color-grey-700);
}

.primary_container {
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.signUp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondary_container {
  height: 80%;
  padding: 2rem;
}