:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--color-grey-100);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-brand-100: #172D77;
  --color-brand-200: #2743A5;
  --color-brand-300: #D6F5FF;
  --color-grey-100: #212529;
  --color-grey-200: #495057;
  --color-grey-300: #adb5bd;
  --color-grey-400: #e1e7ea;
  --color-grey-500: #f4f6f7;
  --color-grey-600: #f1f3f5;
  --color-grey-700: #ffffff;
  --color-feedback-alert: #c92a2a;
  --color-feedback-success: #12ab7d;
  --color-feedback-warning: #d08c00;
  --color-feedback-disable: #c6c7cd;
  --font-size-1: 1rem;
  --font-size-2: 0.875rem;
  --font-size-3: 0.75rem;
  --font-title-1: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}