header {
    width: calc(100% - 32px);

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 50;
}

header.scrolled {
    margin-top: 1rem;
    border-radius: 1rem;

    /* backdrop-filter: blur(10px);
    background-color: rgba(27, 27, 27, 0.5); */
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    background-color: none;

    transition: all 0.4s ease;
}

nav {
    width: 100%;
    max-width: 1610px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;

    transition: padding 0.3s ease;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 2rem;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.signup_link {
    padding: 6px;

    border-radius: 6px;
    border: 1px solid var(--color-brand-100);
}