header {
    width: calc(100% - 32px);

    display: flex;
    justify-content: end;
    padding: 1rem;

    position: fixed;
    top: 0;
    z-index: 50;
}

header.scrolled {
    margin-top: 1rem;
    border-radius: 1rem;

    /* backdrop-filter: blur(10px);
    background-color: rgba(27, 27, 27, 0.5); */
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    background-color: none;

    transition: all 0.4s ease;
}

nav {
    width: 100%;
    max-width: 1610px;
    transition: padding 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 2rem;
}

.items {
    display: flex;
    gap: 1rem;
}

.nav_item {
    display: flex;
    flex-direction: column;
}

.item_dropdown {
    display: none;
    flex-direction: column;
    gap: 0.5rem;

    position: fixed;
    padding: 1rem;



    background-color: var(--color-grey-600);
}

.nav_item:hover .item_dropdown {
    display: flex;
}